@charset "UTF-8";

/*
-----------------------------
celular = max 767px
tablet = min 768px, max 991px
pc = min 992px
*/




:root {
    --cor2: #008b8b;
    --cor3: #2f4f4f;
    --cor4: #696969;
    --cor5: #a52a2a;
    --cor6: #d2b48c;
    --cor7: #f0fff0;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #e03c3c;
}

main{
    width: 335px;
    box-shadow: 3px 6px 15px 4px rgba(0, 0, 0, 0.548);
    border-radius: 20px;
}

input{
    height: 20px;
    padding: 5px;
    border: 1px solid #a52a2a;
   
}

span{
    color: white;
    margin: auto;
}




body#container{
    position: relative;
    
}

main#conteudo{
    display: block;
    position: absolute;
    left: 50%;
    top: 50vh;

    transform: translate(-50%, -50%);
}

article.foto{
    height: 200px;
    background-image: url(../imagens/pexels-agk42-2816904.jpg);
    background-position: center center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}

article#login{
    
    background-color: white;
    height: 400px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

article#login > h1{
    text-align: center;
    margin-bottom: 15px;
    font-variant-caps: all-small-caps;
    font-size: 3em;
}

article#login > p {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5em;
}

div#container1 {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: #a52a2a;
    margin-bottom: 20px;
    padding: 3px;
    border-radius: 7px;
}

div#container2{
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: #a52a2a;
    margin-bottom: 20px;
    padding: 3px;
    border-radius: 7px;
}

input#entrar{
    width: 284px;
    height: 40px;
    border: 3px solid #db7e40;
    color: white;
    background-color: #db7e40;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-small-caps;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.308);
}

input#entrar:hover{
    cursor: pointer;
    background-color: #ff944c;
    border-color: #ff944c;
}

p#esenha{
    text-align: center;
    margin: auto;
    margin-top: 6px;
    color: black;
    font-size: 12px;
    
}

p#esenha:hover{
    color: blue;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

main#conteudo2{
    display: none;
 }
 
 