@charset "UTF-8";

/*tela para tablet*/

:root {
    --cor2: #008b8b;
    --cor3: #2f4f4f;
    --cor4: #696969;
    --cor5: #a52a2a;
    --cor6: #d2b48c;
    --cor7: #f0fff0;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    

}


body{
    width: 100vw;
    height: 100vh;

    background-image: radial-gradient(
        ellipse farthest-side at 92% 378%,
        #05ffff 21%,
        #2f4f4f 100%,
        #e03c3c 25%
        
        )
}

span{
    vertical-align: middle;
    margin: auto;
    width: 2vw;
}

img{
    vertical-align: middle;
    margin: auto;
    width: 2vw;
}

a{
    width: fit-content;
    text-align: center;
    line-height: 0;
    text-indent: 0;
}

h1{
    margin-bottom: 7px;
    text-align: center;
    font-size: 2.5em;
    font-variant-caps: all-small-caps;
}

p{
    text-align: justify;
    line-height: 1.5em;
    text-indent: 15px;
}


input{
    width: 45vw;
}

section#principal{
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    height: 330px;
    width: 90vw;
    box-shadow: 0px 11px 20px 2px #00000062;;
    border-radius: 20px;
}

article#foto2{
    background-image: url(../imagens/pexels-agk42-2816904.jpg);
    background-position: left center;
    background-size: 80vw;
    width: 600px;
    height: 330px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
   
    box-shadow: inset -10px 1px 18px 0px rgb(255 255 255 / 45%);
    padding-right: 7px;
}

article#login2{
    padding: 20px;
}

main#conteudo{
    display: none;
}


main#conteudo2{
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
}

div#contain{
    position: absolute;
    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);
}

div#container3{
    background-color: #a52a2a;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    padding: 4px;
    border-radius: 7px;
}

div#container4{
    background-color: #a52a2a;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    padding: 4px;
    border-radius: 7px;
}

div#entrar-alinhado{
    margin-top: 15px;
    text-align: center;
}

input#entrar{
    margin-left: 20px;
    margin: auto;
}